@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto');
body {
  margin: 0 auto;
  padding: 0;
  font-family: 'Raleway', 'Roboto', sans-serif;
  background-color: #ecf0f1;
}

.container {
  background-color: #F5F5F5;
  border-radius: 10px;
}

code {
  font-size: 1.5em !important;
}

.form-control {
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  line-height: 1.428557143;
  color: #555;
  background-color: #fff;
  border-radius: 0.5px;
}

.form-horizontal .form-group {
  margin-left: 15px;
  margin-right: 15px;
}

label {
  font-style: 'Raleway', 'Roboto', sans-serif;
  color: #808080;
}

.asteriskField {
  color: #d9534f;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 16px;
}

.btn-xs {
  font-size: 10px;
  line-height: 1.33;
  border-radius: 15px;
}

.btn {
  padding: 14px 24px;
  border: 0 none;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
  outline: 0 none;
}

.btn-success {
  background: #000000;
  color: #ffffff;
}

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open>.dropdown-toggle.btn-success {
  background: #8bc34a;
}
